<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuelinghui.personal.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.yuelinghui.personal.myapplication.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.yuelinghui.personal.myapplication.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:name=".core.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".core.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.ui.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/DayTheme" />

        <activity
            android:name=".home.ui.detail.HomeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/DayTheme" />

    </application>

</manifest>
